@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "cosiAzure";
    src: url('/fonts/CosiAzure-Bold.woff2')
    format("woff2");
    font-style: normal;

}
@font-face{
    font-family: "cosiTimes";
    src: url('/fonts/CosiTimes-Bold.woff2')
    format("woff2");
    font-style: normal;
    
}
